<form>
  <div [hidden]="ajout">
    <label>ID Marque</label>
    <input
      type="text"
      [(ngModel)]="marque.marqueId"
      name="marqueId"
      class="form-control w-25"
    />
  </div>
  <div>
    <label>Marque</label>
    <input
      type="text"
      [(ngModel)]="marque.marqueNom"
      name="marqueNom"
      class="form-control"
      placeholder="Entrez un nom de catégorie..."
    />
  </div>
  <div class="mt-2">
    <button
      type="submit"
      [disabled]="!marque.marqueNom"
      class="btn btn-success"
      (click)="saveMarque()"
    >
      {{ ajout ? "Ajouter" : "Modifier" }}
    </button>
  </div>
</form>
